## EL objetivo de este codigo es cruzar la salida del flujo 1 y el flujo 2 para generar la salida 
###con los datos para generar el modelo de cox

In [1]:
import pandas as pd
import os
import random

In [2]:
###LEER SALIDA DE LA PARTE 1: IDENTIFICACION DEFUNCIONES NO FETALES Y CARDIOMETABOLICAS
ruta_f1 = "../1. Identificacion muertes/base defunciones.csv" 
df_mortalidad = pd.read_csv(ruta_f1,sep = ';',encoding='latin-1')
df_mortalidad.rename(columns = {'Código localidad':'Codigo localidad'},inplace = True)
#df_f1

C:\Users\daago\AppData\Local\Temp\ipykernel_12380\3963881000.py:3: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mortalidad = pd.read_csv(ruta_f1,sep = ';',encoding='latin-1')

In [3]:
##LEER SALIDA DE LA PARTE 2: MODELO DE ESTIMACION MENSUAL DE PM25 POR LOCALIDAD
ruta_f2 = "../2. Modelamiento PM25/salidas/pm25_pred_anual.xlsx" 
df_PM = pd.read_excel(ruta_f2)
df_PM.rename(columns = {'year':'ANO'},inplace = True)
#df_PM = df_PM[['ANO', 'MES', 'site', 'PM_25_model', 'std']]
df_PM.head()

   Codigo localidad   ANO  pm25_pred  pm25_pred_prom
0                 1  2008  12.607740       12.607740
1                 1  2009  12.381543       12.494642
2                 1  2010  12.818953       12.602745
3                 1  2011  11.929228       12.434366
4                 1  2012  12.229965       12.393486

In [4]:
##CRUZAR POR CAMPOS COMPLETOS
df_base00 = pd.merge(df_mortalidad,df_PM,how = 'inner', on = ['ANO','Codigo localidad'])
df_base00

,ANO,Sexo,Codigo localidad,Localidad,Régimen de seguridad social,C_BAS1,Descripción causa básica de muerte,GENERO,SEG_SOCIAL,Grupo_Edad,...,IDPERTET,EMB_FAL,EMB_MES,ASIS_MED,CAUSA_MULT,CAUSA_667,IDPROFCER,CAU_HOMOL,pm25_pred,pm25_pred_prom
0,2008,Femenino,1,Usaquén,NO ASEGURADO,I694,"SECUELAS DE ACCIDENTE VASCULAR ENCEFALICO, NO ...",2,5,100 o mas,...,9.0,0.0,0.0,1,0,307,1.0,55,12.607740,12.607740
1,2008,Femenino,1,Usaquén,CONTRIBUTIVO,I251,ENFERMEDAD ATEROSCLEROTICA DEL CORAZON,2,1,100 o mas,...,6.0,0.0,0.0,1,0,303,1.0,51,12.607740,12.607740
2,2008,Femenino,1,Usaquén,CONTRIBUTIVO,I509,"INSUFICIENCIA CARDIACA, NO ESPECIFICADA",2,1,100 o mas,...,6.0,0.0,0.0,1,0,306,1.0,54,12.607740,12.607740
3,2008,Masculino,1,Usaquén,CONTRIBUTIVO,I501,INSUFICIENCIA VENTRICULAR IZQUIERDA,1,1,100 o mas,...,6.0,0.0,0.0,1,0,306,1.0,54,12.607740,12.607740
4,2008,Femenino,1,Usaquén,CONTRIBUTIVO,I110,ENFERMEDAD CARDIACA HIPERTENSIVA CON INSUFICIE...,2,1,100 o mas,...,6.0,0.0,0.0,1,0,302,1.0,50,12.607740,12.607740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129579,2021,Femenino,19,Ciudad Bolívar,SUBSIDIADO,I219,"INFARTO AGUDO DEL MIOCARDIO, SIN OTRA ESPECIFI...",2,2,95 a 99,...,6.0,0.0,0.0,2,R570/I500/I219/I10*J449 C449,303,1.0,51,27.862336,27.652285
129580,2021,Femenino,19,Ciudad Bolívar,CONTRIBUTIVO,I219,"INFARTO AGUDO DEL MIOCARDIO, SIN OTRA ESPECIFI...",2,1,95 a 99,...,6.0,0.0,0.0,1,R570/I219/I10,303,1.0,51,27.862336,27.652285
129581,2021,Femenino,19,Ciudad Bolívar,SUBSIDIADO,I219,"INFARTO AGUDO DEL MIOCARDIO, SIN OTRA ESPECIFI...",2,2,95 a 99,...,6.0,0.0,0.0,2,R570/I500/I219/I10*J449 C449,303,1.0,51,27.862336,27.652285
129582,2021,Femenino,19,Ciudad Bolívar,CONTRIBUTIVO,I211,INFARTO TRANSMURAL AGUDO DEL MIOCARDIO DE LA P...,2,1,95 a 99,...,6.0,0.0,0.0,1,I211/I500/I10,303,1.0,51,27.862336,27.652285
129583,2021,Femenino,19,Ciudad Bolívar,SUBSIDIADO,I219,"INFARTO AGUDO DEL MIOCARDIO, SIN OTRA ESPECIFI...",2,2,95 a 99,...,6.0,0.0,0.0,2,R570/I500/I219/I10*J449 C449,303,1.0,51,27.862336,27.652285

In [5]:
##GUARDAR
df_base00.to_excel('salidas/base_completa.xlsx',index=False)

In [6]:
##FORMATO PARA PROCESAR EN R
df_base00.Localidad.unique()

array(['Usaquén', 'Chapinero', 'Santa Fe', 'San Cristóbal', 'Usme',
       'Tunjuelito', 'Bosa', 'Kennedy', 'Fontibón', 'Engativá', 'Suba',
       'Barrios Unidos', 'Teusaquillo', 'Los Mártires', 'Antonio Nariño',
       'Puente Aranda', 'La Candelaria', 'Rafael Uribe Uribe',
       'Ciudad Bolívar'], dtype=object)

In [7]:
df_base00.columns

Index(['ANO', 'Sexo', 'Codigo localidad', 'Localidad',
       'Régimen de seguridad social', 'C_BAS1',
       'Descripción causa básica de muerte', 'GENERO', 'SEG_SOCIAL',
       'Grupo_Edad', 'MES', 'EST_CIVIL', 'Grupo_Edad_DANE', 'NIVEL_EDU',
       'OCUPACION', 'IDPERTET', 'EMB_FAL', 'EMB_MES', 'ASIS_MED', 'CAUSA_MULT',
       'CAUSA_667', 'IDPROFCER', 'CAU_HOMOL', 'pm25_pred', 'pm25_pred_prom'],
      dtype='object')

In [8]:
#df_base

In [9]:
df_R = df_base00[['Codigo localidad','Localidad', 'ANO','MES','Grupo_Edad_DANE','GENERO',
                'pm25_pred','pm25_pred_prom','SEG_SOCIAL', 'EST_CIVIL', 'NIVEL_EDU','IDPERTET']]
###ESTATUS = 1 CORRESPONDE A QUE EL REGISTRO CORRESPONDE A UNA MUERTE
###NO SE TIENEN REGISTROS SESGADOS
df_R['estatus'] = 1
###COMPARAR LAS DEFUNCIONES EN HOMBRES RESPECTO A LAS MUJERES
df_R['sexo'] = df_R.GENERO.apply(lambda x: 0 if x == 1 else 1)

###COMPARAR LAS DEFUNCIONES ENTRE LOS NO CASADOS Y LOS CASADOS
df_R['casado'] = df_R.EST_CIVIL.apply(lambda x: 0 if x == 5 else 1)


####COMPARAR LAS DEFUNCIONES ENTRE LOS NO ASEGURADOS RESPECTO A LOS ASEGURADOS
#df_R['no_asegurado'] = df_R.SEG_SOCIAL.apply(lambda x: 0 if x <5 else 1)

###COMPARAR LAS DEFUNCIONES ENTRE LOS QUE TIENEN BASICA Y NO 
#df_R['mas_basica'] = df_R.NIVEL_EDU.apply(lambda x: 0 if x <4 else 1)


###
df_R['PM25_base'] = df_R.pm25_pred.apply(lambda x: 0 if x <11 else 1)
#------
###TOMAR EL TIEMPO EN EL ESTUDIO A PARTIR DEL 01/2008
#df_R['tiempo'] = (df_R['ANO']-2008)*12+df_R['MES']
###TIEMPO ALTERNO - MES DEL ANO
#df_R['tiempo'] = df_R['MES']
df_R['tiempo'] = df_R['ANO'] -2007
##-----
###ASIGNAR INDICES DE FORMA ALEATORIA 
s = []
for x in range(0,len(df_R)):
    s.append(random.randint(0,len(df_R)))
df_R['orden'] = s
df_R.sort_values('orden',inplace = True,ignore_index=True)
df_R

C:\Users\daago\AppData\Local\Temp\ipykernel_12380\1326790319.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['estatus'] = 1
C:\Users\daago\AppData\Local\Temp\ipykernel_12380\1326790319.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['sexo'] = df_R.GENERO.apply(lambda x: 0 if x == 1 else 1)
C:\Users\daago\AppData\Local\Temp\ipykernel_12380\1326790319.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['casado'] = df_R.EST_CIVIL.apply(lambda x: 0 if x == 5 else 1)
C:\Users\daago\AppData\Local\Temp\ipykernel_12380\1326790319.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['PM25_base'] = df_R.pm25_pred.apply(lambda x: 0 if x <11 else 1)
C:\Users\daago\AppData\Local\Temp\ipykernel_12380\1326790319.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['tiempo'] = df_R['ANO'] -2007
C:\Users\daago\AppData\Local\Temp\ipykernel_12380\1326790319.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['orden'] = s
C:\Users\daago\AppData\Local\Temp\ipykernel_12380\1326790319.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R.sort_values('orden',inplace = True,ignore_index=True)

,Codigo localidad,Localidad,ANO,MES,Grupo_Edad_DANE,GENERO,pm25_pred,pm25_pred_prom,SEG_SOCIAL,EST_CIVIL,NIVEL_EDU,IDPERTET,estatus,sexo,casado,PM25_base,tiempo,orden
0,8,Kennedy,2017,9,25,2,24.189760,26.468557,1,1.0,3.0,6.0,1,1,1,1,10,0
1,11,Suba,2018,2,26,1,15.330474,15.656873,1,6.0,8.0,6.0,1,0,1,1,11,0
2,8,Kennedy,2020,11,24,2,21.536754,25.523509,1,6.0,2.0,6.0,1,1,1,1,13,0
3,12,Barrios Unidos,2021,7,23,1,15.949900,17.568882,1,6.0,9.0,6.0,1,0,1,1,14,3
4,8,Kennedy,2020,12,23,1,21.536754,25.523509,1,3.0,3.0,6.0,1,0,1,1,13,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129579,8,Kennedy,2020,10,23,1,21.536754,25.523509,1,6.0,2.0,6.0,1,0,1,1,13,129580
129580,14,Los Mártires,2019,3,21,2,14.044031,17.477726,2,4.0,2.0,6.0,1,1,1,1,12,129581
129581,4,San Cristóbal,2019,11,26,2,12.655908,15.396644,1,5.0,2.0,6.0,1,1,0,1,12,129582
129582,11,Suba,2018,2,24,2,15.330474,15.656873,1,4.0,2.0,6.0,1,1,1,1,11,129582
129583,18,Rafael Uribe Uribe,2019,9,21,1,15.828089,19.861826,1,6.0,2.0,6.0,1,0,1,1,12,129583

In [10]:
###CREAR CATEGORIAS PARA EDADES
for edad in range(18,28):
    df_R['edad_'+str(edad)] = df_R.Grupo_Edad_DANE.apply(lambda x: 1 if x >= edad else 0)

C:\Users\daago\AppData\Local\Temp\ipykernel_12380\1965991332.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['edad_'+str(edad)] = df_R.Grupo_Edad_DANE.apply(lambda x: 1 if x >= edad else 0)
C:\Users\daago\AppData\Local\Temp\ipykernel_12380\1965991332.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['edad_'+str(edad)] = df_R.Grupo_Edad_DANE.apply(lambda x: 1 if x >= edad else 0)
C:\Users\daago\AppData\Local\Temp\ipykernel_12380\1965991332.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['edad_'+str(edad)] = df_R.Grupo_Edad_DANE.apply(lambda x: 1 if x >= edad else 0)
C:\Users\daago\AppData\Local\Temp\ipykernel_12380\1965991332.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['edad_'+str(edad)] = df_R.Grupo_Edad_DANE.apply(lambda x: 1 if x >= edad else 0)
C:\Users\daago\AppData\Local\Temp\ipykernel_12380\1965991332.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['edad_'+str(edad)] = df_R.Grupo_Edad_DANE.apply(lambda x: 1 if x >= edad else 0)
C:\Users\daago\AppData\Local\Temp\ipykernel_12380\1965991332.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['edad_'+str(edad)] = df_R.Grupo_Edad_DANE.apply(lambda x: 1 if x >= edad else 0)

In [11]:
df_R.rename(columns= {'Codigo localidad':'localidad','Grupo_Edad_DANE':'edad'},inplace=True)

In [12]:
###CREAR CATEGORIAS PARA SEGURIDAD SOCIAL
for i in df_R.SEG_SOCIAL.unique():
    df_R['Seg_social_'+str(i)] = df_R.SEG_SOCIAL.apply(lambda x: 1 if x == i else 0)

In [13]:
##CREAR CATEGORIAS PARA NIVEL EDUCATIVO
for i in df_R.NIVEL_EDU.unique():
    df_R['Edu_'+str(int(i))] = df_R.NIVEL_EDU.apply(lambda x: 1 if x == i else 0)

In [14]:
##CREAR CATEGORIAS PARA ETNIA
for i in df_R.IDPERTET.unique():
    df_R['Grupo_'+str(int(i))] = df_R.IDPERTET.apply(lambda x: 1 if x == i else 0)

In [15]:
####CREAR CATEGORIAS PARA ESTADO CIVIL
for i in df_R.EST_CIVIL.unique():
    df_R['EstCiv_'+str(int(i))] = df_R.EST_CIVIL.apply(lambda x: 1 if x == i else 0)

In [16]:
df_R.columns

Index(['localidad', 'Localidad', 'ANO', 'MES', 'edad', 'GENERO', 'pm25_pred',
       'pm25_pred_prom', 'SEG_SOCIAL', 'EST_CIVIL', 'NIVEL_EDU', 'IDPERTET',
       'estatus', 'sexo', 'casado', 'PM25_base', 'tiempo', 'orden', 'edad_18',
       'edad_19', 'edad_20', 'edad_21', 'edad_22', 'edad_23', 'edad_24',
       'edad_25', 'edad_26', 'edad_27', 'Seg_social_1', 'Seg_social_3',
       'Seg_social_5', 'Seg_social_2', 'Seg_social_4', 'Edu_3', 'Edu_8',
       'Edu_2', 'Edu_9', 'Edu_99', 'Edu_13', 'Edu_1', 'Edu_4', 'Edu_5',
       'Edu_7', 'Edu_10', 'Edu_6', 'Edu_12', 'Edu_11', 'Grupo_6', 'Grupo_5',
       'Grupo_9', 'Grupo_2', 'Grupo_3', 'Grupo_1', 'Grupo_4', 'EstCiv_1',
       'EstCiv_6', 'EstCiv_3', 'EstCiv_4', 'EstCiv_9', 'EstCiv_5', 'EstCiv_2'],
      dtype='object')

In [17]:
df_R['Posgrado'] = 1-(df_R['Edu_11']+df_R['Edu_12'])
df_R['Maestria'] = 1-df_R['Edu_11']
df_R['Etnia'] = df_R['Grupo_2']+df_R['Grupo_4']
df_R['Etnia2'] = df_R['Grupo_2']+df_R['Grupo_4']+df_R['Grupo_3']

In [18]:
df_R = df_R[['localidad', 'ANO', 'MES', 'edad', 'sexo', 'pm25_pred','pm25_pred_prom',
        'estatus', 'casado', 'PM25_base', 'tiempo', 'orden',
       'edad_18', 'edad_19', 'edad_20', 'edad_21', 'edad_22', 'edad_23',
       'edad_24', 'edad_25', 'edad_26', 'edad_27','Seg_social_1',
       'Seg_social_2', 'Seg_social_5', 'Seg_social_3', 'Seg_social_4',
        'Edu_8', 'Edu_2', 'Edu_99', 'Edu_10', 'Edu_9',
       'Edu_3', 'Edu_4', 'Edu_1', 'Edu_13', 'Edu_7', 'Edu_5', 'Edu_11',
       'Edu_6', 'Edu_12', 'Grupo_6', 'Grupo_9', 'Grupo_5', 'Grupo_1',
       'Grupo_2', 'Grupo_3', 'Grupo_4','Posgrado','Maestria','Etnia','Etnia2','EstCiv_1'
            ,'EstCiv_2','EstCiv_3','EstCiv_4','EstCiv_5','EstCiv_6']]
df_R

,localidad,ANO,MES,edad,sexo,pm25_pred,pm25_pred_prom,estatus,casado,PM25_base,...,Posgrado,Maestria,Etnia,Etnia2,EstCiv_1,EstCiv_2,EstCiv_3,EstCiv_4,EstCiv_5,EstCiv_6
0,8,2017,9,25,1,24.189760,26.468557,1,1,1,...,1,1,0,0,1,0,0,0,0,0
1,11,2018,2,26,0,15.330474,15.656873,1,1,1,...,1,1,0,0,0,0,0,0,0,1
2,8,2020,11,24,1,21.536754,25.523509,1,1,1,...,1,1,0,0,0,0,0,0,0,1
3,12,2021,7,23,0,15.949900,17.568882,1,1,1,...,1,1,0,0,0,0,0,0,0,1
4,8,2020,12,23,0,21.536754,25.523509,1,1,1,...,1,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129579,8,2020,10,23,0,21.536754,25.523509,1,1,1,...,1,1,0,0,0,0,0,0,0,1
129580,14,2019,3,21,1,14.044031,17.477726,1,1,1,...,1,1,0,0,0,0,0,1,0,0
129581,4,2019,11,26,1,12.655908,15.396644,1,0,1,...,1,1,0,0,0,0,0,0,1,0
129582,11,2018,2,24,1,15.330474,15.656873,1,1,1,...,1,1,0,0,0,0,0,1,0,0
129583,18,2019,9,21,0,15.828089,19.861826,1,1,1,...,1,1,0,0,0,0,0,0,0,1

In [19]:
df_R['tiempo2'] = (df_R.ANO-2008)*12+df_R.MES
df_R['tiempo3'] = df_R['tiempo']+df_R['MES']/13.0

C:\Users\daago\AppData\Local\Temp\ipykernel_12380\2856151718.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['tiempo2'] = (df_R.ANO-2008)*12+df_R.MES
C:\Users\daago\AppData\Local\Temp\ipykernel_12380\2856151718.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['tiempo3'] = df_R['tiempo']+df_R['MES']/13.0

In [20]:
df_R['tiempo4'] = df_R['tiempo3'] + abs(df_R['sexo']-1)/26.0

C:\Users\daago\AppData\Local\Temp\ipykernel_12380\1549046560.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['tiempo4'] = df_R['tiempo3'] + abs(df_R['sexo']-1)/26.0

In [21]:
df_R['NoViudo'] = 1-df_R['EstCiv_4']
#df_R['NoCasado']

C:\Users\daago\AppData\Local\Temp\ipykernel_12380\3862898037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['NoViudo'] = 1-df_R['EstCiv_4']

In [22]:
df_R['NoSubsidiado'] = 1 - df_R['Seg_social_2']

C:\Users\daago\AppData\Local\Temp\ipykernel_12380\560572825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_R['NoSubsidiado'] = 1 - df_R['Seg_social_2']

In [23]:
##GUARDAR
df_R.to_excel('salidas/Datos_para_R.xlsx',index=False)